* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #80d0c7;
  background-image: linear-gradient(
    160deg,
    #80d0c7 0%,
    #e4e0c9 50%,
    #0093e9 100%
  );
}

.container {
  margin-top: 48px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
}
.Primary-heading {
  background-color: #0a5aaa;
  background-image: linear-gradient(
    62deg,
    #3187dc 0%,
    #b15ef1 50%,
    #0842b7 100%
  );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
}

.input {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn-generate {
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #fff;
  border-radius: 8px;
  background-color: #007991;
  cursor: pointer;
}
.btn-generate:hover,
.btn-generate::after {
  background-color: #8bc6ec;
  background-image: linear-gradient(
    135deg,
    #8bc6ec 0%,
    #9599e2 50%,
    #2c81bd 100%
  );
}
.text-box {
  display: flex;
  padding: 12px;
  width: 430px;
  height: 280px;
  color: black;
  background-color: #eef2f3;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

@media (max-width: 450px) {
  .container {
    height: 90vh;
  }
  .text-box {
    width: 350px;
    height: 200px;
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .text-box {
    width: 310px;
    height: 210px;
    font-size: 16px;
  }
}
